ENVIRONMENT=prod
IMAGE_REGISTRY=
IMAGE_TAG=latest
DEFGUARD_MASQUERADE=true
CORE_HOST=
EDGE_HOST=
TLS_MODE=acme
CADDY_HTTP_PORT=80
CADDY_HTTPS_PORT=443
WIREGUARD_UDP_PORT=51820
COMPOSE_PROJECT_NAME=defguard-prod
