ENVIRONMENT=dev
IMAGE_REGISTRY=
IMAGE_TAG=latest
DEFGUARD_MASQUERADE=true
CORE_HOST=
EDGE_HOST=
TLS_MODE=off
CADDY_HTTP_PORT=8080
CADDY_HTTPS_PORT=8443
WIREGUARD_UDP_PORT=51820
COMPOSE_PROJECT_NAME=defguard-dev
